@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media screen and (min-width: 1281px) {

}

@media screen and (max-width: 1280px) {

} */

@media screen and (min-width: 600px) {
  .menuForBigS{
    display: none;
  }

  .headerMenu {
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  /* canvas */
.top {
  position: relative;
}
#myCanvas {
  z-index: -1;
  position: fixed;
}

/* header */
.header {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header div:nth-child(2) {
  justify-self: end;
  align-self: center;
}

.kengoLogo {
  font-family: 'Nunito';
  font-size: 30px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menuIcon:hover {
  cursor: pointer;
  color: rgb(57, 114, 160);
}

.headerLine {
  background-color: rgb(57, 114, 160);
  width: 106px;
  height: 4px;
  border-radius: 5px;
}

.headerMenu p {
  font-weight: bold;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  color: rgb(100, 98, 98);
}

.headerMenu a {
  text-decoration: none;
}

.headerMenu p:hover {
  cursor: pointer;
  color: rgb(57, 114, 160);
}

.menuItem {
  font-family: 'Roboto Mono';
  text-decoration: none;
  color: black;
}

.aboutBox {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px;
  /* background-color: aqua; */
}

.about1 {
  font-size: 40px;
  font-family: 'Nunito';
  text-align: center;
}

.about2 {
  font-family: 'Roboto Mono';
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
}

.aboutLine {
  background-color: rgb(57, 114, 160);
  width: 106px;
  height: 4px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sendMessageInAbout {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 50px;
  font-family: 'Nunito';
}

.sendMessageInAbout:hover {
  cursor: pointer;
}

.buttonInAbout {
  text-decoration: none;
}

/* education  */
.education {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.educationTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
}

.educationLine {
  width: 96px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.schoolName {
  font-family: 'Roboto Mono';
  font-weight: bold;
}

.schoolDegree {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  font-size: 12px;
}

.schoolContent {
  font-family: 'Roboto Mono';
}


/* product */
.product {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.productTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
}

.productLine {
  width: 80px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.productBox {
  text-align: center;
  width: 80%;
  /* background-color: aquamarine; */
  margin-left: auto;
  margin-right: auto;
}

.productName {
  font-weight: bold;
  font-family: 'Nunito';
  /* color: rgb(100, 98, 98); */
  /* margin-bottom: 0px; */
  font-size: 20px;
}

.productDescription {
  font-weight: bold;
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  line-height: 1.8;

}

.productImage {
  width: 70%;
  /* height: 200px; */
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.productImage {
  cursor: pointer;
}

.productImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.productImageForM {
  width: 30%;
  /* height: 200px; */
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 10px; */
}

.productImageForM {
  cursor: pointer;
}

.productImageForM img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.productEachLine {
  width: 80px;
  height: 3px;
  background-color: rgb(57, 114, 160);
  margin-left: auto;
  margin-right: auto;
}

.visitButton {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 50px;
  font-family: 'Nunito';
}

.visitButton:hover {
  cursor: pointer;
}

.productEachBox {
  padding-top: 60px;
}

.itemLine {
  width: 100%;
  height: 1px;
  background-color: rgb(186, 186, 186);
  margin-top: 60px;
}

/* skill */
.skill {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.skillTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
}

.skillLine {
  width: 45px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.skillIcon {
  width: 100;
  height: 100;
}

.skillBox {
  text-align: center;
  margin-bottom: 50px;
}

.skillBoxTitle {
  font-family: 'Nunito';
}

.skillItem {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
}

/* contact */
.contact {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.contactTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
}

.contactLine {
  width: 77px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.contactBox {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.contactText {
  text-align: center;
  font-family: 'Roboto Mono';
}

.sendButtonPosition {
  text-align: center;
}

.sendMessageInContact {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 50px;
  font-family: 'Nunito';
  border: none;
}

.inputLabel {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
}

.contactInput {
    width: 100%;
    height: 30px;
}

.contactInput2 {
  width: 100%;
  height: 60px;
}

.sendMessageInContact {
  cursor: pointer;
}

.errorM {
  text-align: center;
  font-family: 'Roboto Mono';
  color: rgb(177, 71, 71);
}

/* footer  */
.footer {
  z-index: 100;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerBox {
  display: grid;
  grid-template-columns:  1fr 1fr;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: 100;
}

.footerBox div {
  font-family: 'Roboto Mono';
  font-size: 15px;
  margin:  5px;
  text-align: center;
  color: white;
}

.footerIcon {
  color: white;
}

.footerIcon:hover {
  cursor: pointer;
}

.smallK {
  text-align: center;
  color: white;
  font-family: 'Roboto Mono';
  font-size: 12px;
}


/* .footerBox div:nth-child(1) {
  margin-top: 3px;
} */

.ocean {
  height: 270px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 600%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

/* spacing */

.sp1 {
  height: 10px
}

.sp2 {
  height: 20px
}

.sp3 {
  height: 30px
}

.sp4 {
  height: 40px
}

.sp5 {
  height: 50px;
}

.sp10 {
  height: 100px
}
}

@media screen and (max-width: 600px) {
  .menuForBigS {
    display: block;
  }

  .headerMenu {
    display: none;
  }

  /* canvas */
.top {
  position: relative;
}
#myCanvas {
  z-index: -1;
  position: fixed;
}

/* header */
.header {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header div:nth-child(2) {
  justify-self: end;
  align-self: center;
}

.kengoLogo {
  font-family: 'Nunito';
  font-size: 15px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menuIcon:hover {
  cursor: pointer;
  color: rgb(57, 114, 160);
}

.headerLine {
  background-color: rgb(57, 114, 160);
  width: 53px;
  height: 4px;
  border-radius: 5px;
}

.headerMenu p {
  font-weight: bold;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  color: rgb(100, 98, 98);
}

.headerMenu a {
  text-decoration: none;
}

.headerMenu p:hover {
  cursor: pointer;
  color: rgb(57, 114, 160);
}

.menuItem {
  font-family: 'Roboto Mono';
  text-decoration: none;
  color: black;
}

.aboutBox {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1000px;
}

.about1 {
  font-size: 20px;
  font-family: 'Nunito';
  text-align: center;
}

.about2 {
  font-family: 'Roboto Mono';
  font-size: 12px;
  text-align: center;
  line-height: 1.8;
}

.aboutLine {
  background-color: rgb(57, 114, 160);
  width: 106px;
  height: 4px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sendMessageInAbout {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 50px;
  font-family: 'Nunito';
  font-size: 10px;
  text-decoration: none;
}

.sendMessageInAbout:hover {
  cursor: pointer;
}

.buttonInAbout {
  text-decoration: none;
}

/* education  */
.education {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.educationTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  font-size: 12px;
}

.educationLine {
  width: 71px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.schoolName {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 12px;
}

.schoolDegree {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  font-size: 10px;
}

.schoolContent {
  font-family: 'Roboto Mono';
  font-size: 10px;
}


/* product */
.product {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.productTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  font-size: 12px;
}

.productLine {
  width: 60px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.productBox {
  text-align: center;
  width: 100%;
  /* background-color: aquamarine; */
  margin-left: auto;
  margin-right: auto;
}

.productName {
  font-weight: bold;
  font-family: 'Nunito';
  font-size: 12px;
}

.productDescription {
  font-weight: bold;
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  line-height: 1.8;
  font-size: 10px;
  margin-top: 20px;
}

.productImage {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.productImage {
  cursor: pointer;
}

.productImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.productImageForM {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.productImageForM {
  cursor: pointer;
}

.productImageForM img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.productEachLine {
  width: 80px;
  height: 3px;
  background-color: rgb(57, 114, 160);
  margin-left: auto;
  margin-right: auto;
}

.visitButton {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  border-radius: 30px;
  font-family: 'Nunito';
  font-size: 10px;
}

.visitButton:hover {
  cursor: pointer;
}

.productEachBox {
  padding-top: 30px;
}

.itemLine {
  width: 100%;
  height: 1px;
  background-color: rgb(186, 186, 186);
  margin-top: 0px;
}

/* skill */
.skill {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.skillTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  font-size: 12px;
}

.skillLine {
  width: 32px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.skillBox {
  text-align: center;
  margin-bottom: 50px;
}

.skillBoxTitle {
  font-family: 'Nunito';
  font-size: 12px;
}

.skillItem {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  font-size: 10px;
}

/* contact */
.contact {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.contactTitle {
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(100, 98, 98);
  margin-bottom: 0px;
  font-size: 12px;
}

.contactLine {
  width: 56px;
  height: 3px;
  background-color: rgb(57, 114, 160);
}

.contactBox {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.contactText {
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 10px;
}

.sendButtonPosition {
  text-align: center;
}

.sendMessageInContact {
  background-color: rgb(57, 114, 160);
  color: white;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 50px;
  font-family: 'Nunito';
  border: none;
  margin-bottom: 80px;
  font-size: 10px;
}

.inputLabel {
  font-family: 'Roboto Mono';
  color: rgb(100, 98, 98);
  font-size: 10px;
}

.contactInput {
    width: 100%;
    height: 30px;
}

.contactInput2 {
  width: 100%;
  height: 60px;
}

.sendMessageInContact {
  cursor: pointer;
}

.errorM {
  text-align: center;
  font-family: 'Roboto Mono';
  color: rgb(177, 71, 71);
  font-size: 10px;
}

/* footer  */
.footer {
  z-index: 100;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerBox {
  display: grid;
  grid-template-columns:  1fr 1fr;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: 100;
}

.footerBox div {
  font-family: 'Roboto Mono';
  font-size: 15px;
  margin:  5px;
  text-align: center;
  color: white;
}

.footerIcon {
  color: white;
}

.footerIcon:hover {
  cursor: pointer;
}

.smallK {
  text-align: center;
  color: white;
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.ocean {
  height: 140px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 600%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

/* spacing */

.sp1 {
  height: 5px
}

.sp2 {
  height: 10px
}

.sp3 {
  height: 10px
}

.sp4 {
  height: 10px
}

.sp5 {
  height: 10px;
}

.sp10 {
  height: 20px
}

}




