@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@600&family=PT+Serif&display=swap');

@media screen and (min-width: 1281px) {
  .navbarRight {
    display: flex;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 20px;
    justify-content: flex-end;
  }
  .navbarRightSmall {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
.navbarRight {
  display: none;
}
.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }
}

@media screen and (max-width: 960px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }

  /* container'width */
  .con {
    width: 90%;
    z-index: 10;
  }
}

@media screen and (max-width: 600px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }
}
  /* container'width */
.con {
  width: 80%;
  z-index: 10;
}

/* navbar */
  .navItem {
    margin-left: 50px;
    font-family: "Montserrat";
    color: white;
  }
  
  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    height: 90px;
    background-color: #2B2B2B;
    z-index: 100;
  }
  
  .fontKT {
    font-family: "Dancing Script";
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 50px;
  }

/* about */
.aboutText {
  font-family: "PT Serif";
  color: #757575;
  text-align: left;
  line-height: 40px;
}

.cardAbout {
  max-width: 80%;
  width: 400px;
  height: 320px;
  padding-top: 50px;
  margin-bottom: 50px;
}

/* education */
.educationTitle {
  font-family: "Montserrat";
}

.educationText1  {
  font-family: "PT Serif";
}

.educationText2  {
  font-family: "PT Serif";
  color: #757575;
}
.educationText3  {
  font-family: "PT Serif";
}

.orangeLineE1 {
  width: 230px;
  height:3px;
  background-color: orange;
}

.orangeLineE2 {
  width: 305px;
  height:3px;
  background-color: orange;
}

/* products */
.productsTitle {
  font-family: "Montserrat";
}

.productsText1  {
  font-family: "PT Serif";
  color: #757575;
}

.productsText2  {
  font-family: "PT Serif";
}

.productsText3  {
  font-family: "PT Serif";
  text-align: left;
  color: #757575;
  line-height: 30px;
}

.cardWeb {
  max-width: 80%;
  width: 350px;
  height: 230px;
}

.cardIOS {
  max-width: 80%;
  width: 285px;
  height: 370px;
}

.imageChange  {
  width: 100%;
  height: 100%;
  filter: grayscale(50%);
}

.orangeLineP1 {
  width: 180px;
  height:3px;
  background-color: orange;
}
/* skills */
.skillsTitle {
  font-family: "PT Serif";
}

.cardSkills {
  max-width: 80%;
  width: 280px;
  height: 400px;
}

.skillsTitle {
  font-family: "Montserrat";
}

.skillsText{
  font-family: "PT Serif";
  color: #757575;
}

.orangeLineS1 {
  width: 100px;
  height:3px;
  background-color: orange;
}
/* contact */
.contactField {
width :500px;
margin-left: auto;
margin-right: auto;
max-width: 80%;
}

.contactButton {
  margin-left: auto;
  margin-right: auto;
}

.contactTitle {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.contactText {
  font-family: 'PT Serif', serif;
  color: #757575;
  text-align: center;
}

.contactImage {
  text-align: center;
}

.socialMiddle {
text-align: center;
}

/* footer */
.footerBox {
  background-color: #2B2B2B;
}

.footerSocial {
  display: flex;
  justify-content: center;
  color: white;
}

.footerIcon {
  margin-top: 11px;
  margin-right: 10px;
}

.copyRight {
  font-family: "Montserrat";
  text-align: center;
  display: block;
  color: white;
}


/* common css code */


.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt10 {
  margin-top: 100px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.longLine {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}

